# Core functionality - changes here should be rare!
/src/app.py                   @golles
/src/backend/database.py      @golles
/src/backend/routers/auth.py  @golles

# The frontend will need refactored soon to be more object oriented.
/src/static/   @golles
